body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
  
  .navbar {
      background-color: #1b2938;
      .navbar-brand{
        color: #dfdfdf;
    }
    ul li a.nav-link{
        color: #dfdfdf;
      }
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' style=' stroke: aliceblue; ' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
}

.like.btn{
    background: transparent;
    border: none;
    margin-right: 5px;
    &:focus{
        background: transparent;
        box-shadow: none;
    }
}
